.chart-container {
  background-image: #fff;
  height: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items:normal;
  border-radius: 10px 10px 10px 10px;
  font-family: "Roboto";
  margin: 80px;
  padding: 10px 10px 10px 10px;
}
